apptools==5.1.0
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
cffi==1.14.5
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.7
cycler==0.10.0
envisage==6.0.1
hyperlink==21.0.0
idna==3.2
importlib-metadata==4.6.1
importlib-resources==5.2.0
incremental==21.3.0
kiwisolver==1.3.1
matplotlib==3.4.2
mayavi==4.7.3
numpy==1.21.0
Pillow==8.3.0
pycparser==2.20
pyface==7.3.0
Pygments==2.9.0
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
python-dateutil==2.8.1
scipy==1.7.0
six==1.16.0
traits==6.2.0
traitsui==7.2.1
Twisted==21.2.0
txaio==21.2.1
vtk==9.0.3
wslink==0.2.0
zipp==3.5.0
zope.interface==5.4.0
